## Settings file was created by plugin OdinOnDemand v0.9.89
## Plugin GUID: com.ood.valmedia

[OdinOnDemand]

## Whether to use built-in library or self-hosted NodeJS yt-dlp server to grab YouTube URLs. You probably do not need to touch this setting, but see GitHub for setup if interested. Restart required.
# Setting type: YouTubeAPI
# Default value: YouTubeExplode
# Acceptable values: YouTubeExplode, NodeJs
YouTube API Type = YouTubeExplode

## Master volume of all Screens. Clientside setting.
# Setting type: Single
# Default value: 1
# Acceptable value range: From -15 to 15
Screen Master Volume = 1

## Master volume of all Boomboxes and Gramophones. Clientside setting.
# Setting type: Single
# Default value: 1
# Acceptable value range: From -15 to 15
Musicplayer Master Volume = 1

## Default listening distance for all mediaplayers.
# Setting type: Single
# Default value: 75
Audio Default Distance = 75

## The maximum a viking can set a mediaplayer's listening distance to. Admins ignore this.
# Setting type: Single
# Default value: 250
Maximum Listening Distance = 250

## How far away you can control mediaplayers with the remote control.
# Setting type: Single
# Default value: 25
Remote Control Distance = 25

## The default volume when a mediaplayer is first loaded into the world.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 1
Audio Default Volume = 1

## Enable Youtube Functionality. Enabled by default.
# Setting type: Boolean
# Default value: true
Enable Youtube = true

## If enabled, only the creator of the mediaplayer may control it with a remote control.
# Setting type: Boolean
# Default value: false
Remote Control Owner Only = false

## When this setting is enabled and you link a speaker to a mediaplayer, it will display a small red sphere representing the center of the audio for the mediaplayer.
# Setting type: Boolean
# Default value: true
Show Audio Center Sphere = true

## This will make the screen unaffected by world light and look better. On by default. Only applied on newly placed screens.
# Setting type: Boolean
# Default value: true
Video Screen Backlight = true

## Enable Debug Logging
# Setting type: Boolean
# Default value: false
Debug Logging = false

## When a player is outside the audio range of a screen, the screen will stop rendering. (Experimental, requires expensive distance calculations. With lots of screens this may add up.) 
# Setting type: Boolean
# Default value: false
Screens Stop Rendering Out of Range = false

## Custom timeout for YoutubeExplode tasks
# Setting type: Int32
# Default value: 4000
YoutubeExplode Timeout = 4000

## Custom timeout for SoundCloudExplode tasks
# Setting type: Int32
# Default value: 6000
SoundCloudExplode Timeout = 6000

