## Settings file was created by plugin NoSkillDrain v1.2.0
## Plugin GUID: FixItFelix.NoSkillDrain

[1 - General]

## If 'true' and playing on a server, config can only be changed on server-side configuration, clients cannot override
# Setting type: Boolean
# Default value: true
Lock Configuration = true

## If set to -100 it will not drain skills at all, other settings will apply the % multiplier accordingly.
# Setting type: Single
# Default value: -100
Skill Drain Multiplier = -100

